body { background: #f4f4f4; font-family: sans-serif; }
h1 { text-align: center; }
.container { max-width: 1000px; margin: 20px auto 0; }
.grid-item { background: #ff00fb; color: #fff; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: bold; font-size: 2rem; }